name: Gradebook Update

on:
  schedule:
    - cron: "0 11 * * FRI"
  workflow_dispatch: {}

permissions:
  contents: write
  actions: read

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Update gradebook from recent Autograde runs
        env:
          GH_TOKEN: ${{ github.token}}
          WORKFLOW_FILE: autograde.yml
          ARTIFACT_NAME: autograder_result
        run: python3 .github/scripts/update_gradebook.py

      - name: Commit and push gradebook
        run: |
            git config user.name "github-actions"
            git config user.email "actions@github.com"
            if [-f autograder/gradebook.csv]; then
                git add autograder/gradebook.csv
                git commit -m "Weekly gradebook update" || exit 0
                git push
            else
                echo "No gradebook file created. Nothing to commit"
            fi